
MFScanQRDemo.xcodeproj/project.xcworkspace/xcuserdata/mf.xcuserdatad/UserInterfaceState.xcuserstate

MFScanQRDemo.xcodeproj/project.xcworkspace/xcuserdata/mf.xcuserdatad/UserInterfaceState.xcuserstate

MFScanQRDemo.xcodeproj/xcuserdata/mf.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

MFScanQRDemo.xcodeproj/xcuserdata/mf.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
